<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Match</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="stats()">
        <ion-icon name="stats-chart-sharp"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-grid *ngIf="match.length > 0" class="ion-text-center ion-text-capitalize">
    <ion-card>
      <ion-card-content>
        <ion-row>
          <ion-col *ngFor="let team of match">
            <ion-text>
              <h3>{{team.team_name}}</h3>
            </ion-text>
            <ion-text>
              <h3 class="score">{{team.goals}}</h3>
            </ion-text>
          </ion-col>
        </ion-row>
        </ion-card-content>
    </ion-card>

    <ion-row>
      <ion-col *ngFor="let team of match">
        <ion-button expand="block" color="medium" (click)="addGoal(team.team_name)">
          <ion-icon name="add-circle-sharp"></ion-icon>Goal
        </ion-button>
        <ion-button expand="block" color="medium" (click)="deleteGoal(team.team_name)">
          <ion-icon name="remove-circle-sharp"></ion-icon>Goal
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col *ngFor="let team of match">
        <ion-button expand="block" color="medium" (click)="yellowCard(team.team_name)">Yellow Card</ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col *ngFor="let team of match">
        <ion-button expand="block" color="medium" (click)="redCard(team.team_name)">Red Card</ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col *ngFor="let team of match">
        <ion-button expand="block" color="medium" (click)="offSide(team.team_name)">
          <ion-icon name="flag-sharp"></ion-icon>Offside
        </ion-button>
      </ion-col>
    </ion-row>
    
    <ion-row>
      <ion-col>
        <ion-button color="medium" (click)="reset()">Reset</ion-button>
      </ion-col>
    </ion-row>
    
  </ion-grid>

</ion-content>
