<ion-header>
  <ion-toolbar color="light">
    <ion-title>Setup</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <form [formGroup]="teamsForm">
    <ion-item>
      <ion-label>Team A</ion-label>
      <ion-input formControlName="teamA" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Team B</ion-label>
      <ion-input formControlName="teamB" required></ion-input>
    </ion-item>

    <ion-button expand="block" color="medium" (click)="setTeams(teamsForm)"
        [disabled]="teamsForm.invalid">
      Start Match <ion-icon name="football-outline"></ion-icon>
    </ion-button>
  </form>

</ion-content>
